@import "tailwindcss";

:root {
  --kpk-base: #ba191d;
  --kpk-hover: #a31519;
  --kpk-dark: #6b1118;
  --kpk-darker: #3b0d16;
  --kpk-darkest: #16080d;
  --background: #fbfbfb;
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-kpk: var(--kpk-base);
  --color-kpk-hover: var(--kpk-hover);
  --color-kpk-dark: var(--kpk-dark);
  --color-kpk-darker: var(--kpk-darker);
  --color-kpk-darkest: var(--kpk-darkest);
  --font-sans: "Tahoma", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

* {
  font-family: 'Tahoma', 'Segoe UI', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Tahoma', 'Segoe UI', Geneva, Verdana, sans-serif;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
}

/* Red KPK Batik Background Pattern */
.bg-batik-pattern {
  background-color: #7f1216;
  background-image: radial-gradient(#ba191d 1.5px, transparent 1.5px), radial-gradient(#ba191d 1.5px, #7f1216 1.5px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}